.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}
/* makes buttons displayed on the same line */
#delete-form {
    display: inline;
}

#delete-comment {
    display: inline;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}

/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

.container .text-muted {
  margin: 20px 0;
}

/* Button Colors */

.list-group-item.active {
    background-color: #238BCC;
    border-color: #238BCC;
}

.btn-primary {
    border: 1px solid #232323;
    background-color: #fff;
    color: #232323;
}

.btn-add {
    border: 1px solid #fff;
    background-color: #fff;
    color: #232323;
}


.btn-show {
    border: 1px solid black;
    background-color: #fff;
    color: #232323;
}

.btn-default {
    border: 1px solid black;
}

.btn-default:hover {
    border: 1px solid black;
    background-color: #232323;
    color: #fff;
}

.btn-warning {
    border: 1px solid black;
    background-color: #fff;
    color: #232323;
}
.btn-warning:hover {
    background-color: #232323;
    color: #fff;
    border-color: black;

}

.btn-danger {
    border: 1px solid black;
    background-color: #fff;
    color: #232323;
}

.btn-success {
    border: 1px solid black;
    background-color: #fff;
    color: #232323;
}

.image-upload {
    padding-bottom: 40px;
}


/* Navbar Color */
.navbar-default {
    background-color: #fff;
	box-shadow: 1px 1px 6px 1px #238BCC;
}
.footer {
    background-color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #238BCC;
}

.navbar-default .navbar-brand {
	color: #238BCC;
}

/* Active Navbar Color */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	color: #238BCC;
	background-color: #6dd5fa;
}

/* Navbar Text Color */
.text-muted {
    color: #238BCC;
}

.text-muted > a {
    color: #238BCC;
}

.text-muted > a:hover {
    color: #333;
}

/* Jumbotron Shadow Color */
.container-shadow {
	box-shadow: 4px 8px 6px 2px #888888;
}
 /* Jumbotron Custom Color */
.jumbo-color {
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Shadow Box for Login and Sign up */
#form-box {
	box-shadow: 4px 8px 6px 2px #888888;
}

/* Shadow Box for Profile Page */
#profile-box {
    border: 0.5px solid #FFF;
    padding: 20px;
    border-radius: 10px;
	box-shadow: 4px 8px 6px 2px #888888;
}

#img-frame {
    border: 0.5px solid #FFF;
    border-radius: 10px;
}

#frame-in {
    border: 0;
    border-radius: 10px;
}

#line-btw {
    border-right-style: solid;
    border-right-color: #E5E5E5;
    border-right-width: 1px;
}

/* List Items On Profile Page */
#item-list {
    font-size: 20px;
    list-style-type: none;
    
}

#right-col {
    padding: 40px;
}

/* Sidebar on show page shadow and border */
.sidebar-area {
    border: 0.5px solid #FFF;
    border-radius: 5px;
	box-shadow: 4px 8px 6px 2px #888888;
}

/* search field on index page */
.search-field {
    padding: 30px 0 30px 0;
}


/* sidebar title */
.side-title {
    padding: 10px 0 10px 5px;
    border-bottom-style: inset;
    border-bottom-color: #a8d4f0;
    border-bottom-width: 3px;
    font-size: 2em;
}

/* name and description area on show page */
.name-desc {
    padding: 10px 0 10px 5px;
    border-bottom-style: inset;
    border-bottom-color: #51aae1;
    border-bottom-width: 3px;
}


.name-area {
    padding: 10px 0 10px 5px;
}

.desc-area {
    padding: 10px 0 10px 5px;
}

/* comment container on show page */
.cmnt-cont {
    background-color: #fff;
}

.user-name {
    padding: 10px 0 10px 5px;

}

/* main content area */

.main-cont {
    padding: 20px !important;
}


/* Site Logo Image */
.logo-img {
    width: 32px;
    height: 40px;
    margin-top: -9px;
}

.places-shadow {
    box-shadow: -4px 8px 6px 2px #888888;
}

